python-dotenv
pymongo
pydantic
PyMuPDF
fastapi
matplotlib
tqdm
transformers
torch
scikit-learn
wordcloud
pandas
chromadb
sentence_transformers
langchain
langchain_chroma
langchain_huggingface
gpt4all
pytesseract
googletrans
